<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChromeDriverPath" value= "D:\\drivers\\"/>
		<add key="Browser" value="Chrome" />
		<add key="BaseUrl" value="https://www.moneycorp.com/en-gb/" />
		<add key="BaseUrlUsa" value="https://www.moneycorp.com/en-us/" />
		<add key="PageTitleLandingPage" value="International Payments &amp; Currency Exchange | moneycorp" />
		<add key="PageTitleLocalePage" value="Online Foreign Currency Exchange | moneycorp USA" />
		<add key="PageTitleForeignExchangeSolutionPage" value="Foreign Exchange Solutions | moneycorp USA" />
		<add key="PageTitleSearchResultPage" value="Search" />
		<add key="TextToSearch" value="international payments" />
	</appSettings>
</configuration>